/* definitions */
:root {
    /*  colors */
    --color-bg-normal: #c0d3d9;
    --color-bg-dark: #174a5a;
    --color-bg-highlight: orangered;

    /* sizes */
    --dimension-max-width: 1200px;
    --dimension-max-padding: 20px;

    /* gaps */
    --dimension-main-gap: 30px;
}
/* / definitions */

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
/* / reset */

/* container background colors */
section {
    width: 100%;
    max-width: var(--dimension-max-width);
    margin: 0 auto;
    background-color: var(--color-bg-normal);
}
section.bg-dark {
    background-color: var(--color-bg-dark);
}
section.bg-highlight {
    background-color: var(--color-bg-highlight);
}
/* / container background colors */