/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* definitions (usable for everything, can all be changed in one place here) */
:root {
    /* text colors */
    --color-standard:#174a5a;
    --color-inverted:white;
    --color-linkcolor: #498496;
    --color-highlight: orangered;

    /*  background-colors */
    --color-bg-normal: #c0d3d9;
    --color-bg-dark: #174a5a;
    --color-bg-highlight: orangered;

    /* sizes */
    --dimension-max-width: 1200px;
    --dimension-max-padding: 20px;

    /* gaps */
    --dimension-main-gap: 30px;
}
/* / definitions */

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--color-standard);
}
/* / reset */

/* general settings */
a {
    text-decoration: none;
    color: var(--color-linkcolor);
}
a:hover {
    color:var(--color-highlight);
}
/* / general settings */

/* centered wrapper (used to center content if viewport gets too big) */
.centered-wrapper {
    width: 100%;
    max-width: var(--dimension-max-width);
    margin: 0 auto;
    padding: 1rem;
}
/* / centered wrapper */

/* container background colors */
.bg-dark {
    background-color: var(--color-bg-dark);
}
.bg-highlight {
    background-color: var(--color-bg-highlight);
}
/* / container background colors */

/* text-colors */
.color-inverted *{
    color:var(--color-inverted);
}
/* / text-colors */

/* main navigation */
.main-navigation .pagetitle{
    font-size: 2rem;
}
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-navigation ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
/* / main navigation */